<mat-toolbar color="primary" class="custom-toolbar">
  <div class="logo">
    <img src="assets/images/logo.png" alt="Logo" class="logo-image" />
    <a href="#">Teodor Ilie</a>
  </div>

  <!-- Hamburger Icon -->
  <button mat-icon-button class="menu-toggle" (click)="toggleMenu()" aria-label="Open Menu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Navigation Links -->
  <nav [class.open]="isMenuOpen">
    <ul>
      <li>
        <button mat-button (click)="scrollToSection('about'); toggleMenu()">
          <i class="fas fa-user-circle"></i> About Me
        </button>
      </li>
      <li>
        <button mat-button (click)="scrollToSection('projects'); toggleMenu()">
          <i class="fas fa-tools"></i> Projects
        </button>
      </li>
      <li>
        <button mat-button (click)="scrollToSection('lego'); toggleMenu()">
          <i class="fas fa-cube"></i> LEGO Technic
        </button>
      </li>
      <li>
        <button mat-button (click)="scrollToSection('socials'); toggleMenu()">
          <i class="fas fa-globe"></i> Socials
        </button>
      </li>
    </ul>
  </nav>
</mat-toolbar>
