<div class="section-heading">
  <h2 scrollAnimation animationClass="animate-fadeIn">About Me</h2>
  <div class="content">
    <div class="profile" scrollAnimation animationClass="animate-fadeIn" [delay]="200">
      <div class="profile-image">
        <img src="assets/profile-image.jpg" alt="Teodor Ilie" />
      </div>
      <div class="socials-grid">
        <a
          *ngFor="let social of socialLinks; let i = index"
          [href]="social.url"
          target="_blank"
          class="social-card"
          scrollAnimation
          animationClass="animate-fadeIn"
          [delay]="0"
        >
          <i [class]="social.icon"></i>
        </a>
      </div>
    </div>

    <div class="bio" scrollAnimation animationClass="animate-slideUp" [delay]="400">
      <h3>Hello, I'm <span class="highlight">Teodor Ilie</span></h3>
      <p class="subtitle">MSc Student at Queen's University | Full-Stack Developer at BMO</p>
      <p>
        Welcome! I'm a Master's Student with the School of Computing at Queen's University in the
        <a href="https://labs.cs.queensu.ca/quarrg/" target="_blank">QUARRG</a>
        lab, and a full-stack developer at BMO. I am currently researching Event Cameras, and how
        they can fill the gaps in the current Computer Vision technology.
      </p>
      <p>
        In my free time I enjoy kickboxing, playing guitar, and designing LEGO Technic vehicles.
      </p>
      <div class="skills" scrollAnimation animationClass="animate-slideUp" [delay]="600">
        <h4>Skills and Interests</h4>
        <div class="skill-tags">
          <mat-chip-set>
            <!-- Add animation to each chip with sequential delays -->
            <mat-chip
              *ngFor="
                let skill of [
                  'Python',
                  'Java',
                  'C++',
                  'SQL',
                  'Spring',
                  'Angular',
                  'REST API',
                  'FinTech',
                  'Computer Vision',
                  'Machine Learning',
                ];
                let i = index
              "
              scrollAnimation
              animationClass="animate-fadeIn"
              [delay]="0"
              disableRipple
            >
              {{ skill }}
            </mat-chip>
          </mat-chip-set>
        </div>
      </div>
    </div>
  </div>
</div>
