<div class="section-heading">
  <h2 scrollAnimation animationClass="animate-fadeIn">About Me</h2>
  <div class="content">
    <div class="profile" scrollAnimation animationClass="animate-fadeIn" [delay]="0">
      <div class="profile-image-container">
        <picture>
          <!-- Large webp -->
          <source
            media="(min-width: 768px)"
            srcset="/assets/images/webp/profile-400.webp"
            type="image/webp"
          />
          <!-- Small webp -->
          <source
            media="(max-width: 767px)"
            srcset="/assets/images/webp/profile-300.webp"
            type="image/webp"
          />

          <!-- Large jpg fallback -->
          <source
            media="(min-width: 768px)"
            srcset="/assets/images/profile-400.jpg"
            type="image/jpeg"
          />
          <!-- Small jpg fallback -->
          <source
            media="(max-width: 767px)"
            srcset="/assets/images/profile-300.jpg"
            type="image/jpeg"
          />

          <!-- Final fallback -->
          <img
            src="/assets/images/profile-400.jpg"
            alt="Teodor Ilie profile image"
            width="400"
            height="400"
            fetchpriority="high"
            loading="eager"
            decoding="sync"
          />
        </picture>
      </div>
      <div class="subtitle-wrapper">
        <p class="subtitle">MSc Student at Queen's University | Full-Stack Developer at BMO</p>
      </div>
      <div class="socials-grid">
        <a
          *ngFor="let social of socialLinks; let i = index"
          [href]="social.url"
          target="_blank"
          rel="noopener noreferrer"
          class="social-card"
          scrollAnimation
          animationClass="animate-fadeIn"
          [delay]="0"
        >
          <i [class]="social.icon"></i>
        </a>
      </div>
      <div class="cv-wrapper">
        <a href="assets/Teodor_Ilie_Resume_CV.pdf" target="_blank" class="cv-link">
          <i class="fas fa-file-pdf"></i>
          <span>Download CV</span>
        </a>
      </div>
    </div>

    <div class="bio" scrollAnimation animationClass="animate-slideUp" [delay]="0">
      <h3>Hello, I'm <span class="highlight">Teodor Ilie</span></h3>
      <p>
        Welcome! I'm a Master's Student with the School of Computing at Queen's University in the
        <a href="https://labs.cs.queensu.ca/quarrg/" target="_blank">QUARRG</a>
        lab, and a full-stack software developer at BMO. I am currently researching Deep Reinforcement
        Learning solutions for autonomous vehicle navigation and control.
      </p>
      <p>
        In my free time I enjoy kickboxing, playing guitar, and designing LEGO Technic models. Check
        out my coding projects, LEGO Technic designs, or just enjoy the pretty pictures
        <span class="large-emoji">🎨</span>
      </p>

      <div class="skill-education-container">
        <div class="skills" scrollAnimation animationClass="animate-slideUp" [delay]="0">
          <h4>Interests</h4>
          <div class="skill-tags">
            <mat-chip-set>
              <mat-chip
                *ngFor="
                  let skill of [
                    'Reinforcement Learning',
                    'GenAI',
                    'Autonomous Control',
                    'Event Camera',
                    'Computer Vision',
                    'Deep Learning',
                    'Automated Planning',
                    'Explainable AI',
                    'Cybersecurity',
                    'FinTech',
                  ];
                  let i = index
                "
                scrollAnimation
                animationClass="animate-fadeIn"
                [delay]="0"
                disableRipple
              >
                {{ skill }}
              </mat-chip>
            </mat-chip-set>
          </div>
        </div>
        <div class="education" scrollAnimation animationClass="animate-slideUp" [delay]="0">
          <h4>Education</h4>
          <div class="education-item">
            <i class="fas fa-graduation-cap"></i>
            <div class="education-details">
              <div class="degree">M.Sc., Computer Science (AI Spec.)</div>
              <div class="institution">Queen's University, recipient of:</div>
              <div class="awards">
                <a href="https://vectorinstitute.ai/programs/scholarship/" target="_blank"
                  >Vector for AI</a
                >
                <a
                  href="https://www.nserc-crsng.gc.ca/students-etudiants/pg-cs/cgsm-bescm_eng.asp"
                  target="_blank"
                  >NSERC CGS</a
                >
                <a
                  href="https://www.queensu.ca/grad-postdoc/grad-studies/funding/ontario-graduate-scholarship"
                  target="_blank"
                  >OGS</a
                >
              </div>
            </div>
          </div>
          <div class="education-item">
            <i class="fas fa-graduation-cap"></i>
            <div class="education-details">
              <div class="degree">B.Sc. (Hons), Computer Science</div>
              <div class="institution">Queen's University</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
