<div class="section-heading">
  <h2 scrollAnimation animationClass="animate-fadeIn">Projects</h2>

  <div class="section-description" scrollAnimation animationClass="animate-slideUp" [delay]="0">
    <p class="intro-text">
      Explore a selection of my projects, ranging from a self-driving robot using Deep Reinforcement
      Learning for map building, Probabilistic Inference with Pacman, and a Neural Network digit
      classifier built from scratch. Also check out my collaborators below
      <span class="large-emoji">🤖</span>
    </p>

    <div class="feature-highlights" scrollAnimation animationClass="animate-fadeIn" [delay]="0">
      <div class="feature" scrollAnimation animationClass="animate-slideUp" [delay]="100">
        <a href="https://ingenuitylabs.queensu.ca/" target="_blank" class="feature-link">
          <i class="fas fa-cogs"></i>
          <span>Ingenuity Labs</span>
        </a>
      </div>
      <div class="feature" scrollAnimation animationClass="animate-slideUp" [delay]="200">
        <a href="https://labs.cs.queensu.ca/quarrg/" target="_blank" class="feature-link">
          <i class="fas fa-robot"></i>
          <span>QUARRG Lab</span>
        </a>
      </div>
      <div class="feature" scrollAnimation animationClass="animate-slideUp" [delay]="300">
        <a href="https://mulab.ai/" target="_blank" class="feature-link">
          <i class="fas fa-code-branch"></i>
          <span>MuLab</span>
        </a>
      </div>
    </div>
  </div>

  <div
    class="projects-container"
    scrollAnimation
    animationClass="animate-fadeIn"
    [delay]="0"
    [threshold]="0.02"
  >
    <!-- List of all projects -->
    <div class="project-list">
      <div
        class="project-item"
        *ngFor="let project of projects; let i = index"
        [class.even]="i % 2 !== 0"
      >
        <div class="project-media">
          <a
            [href]="project.githubUrl ? project.githubUrl : project.paperUrl"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img [src]="project.imageUrl" [alt]="project.title" [class.gif]="project.isGif" />
          </a>
        </div>

        <div class="project-info">
          <h3>{{ project.title }}</h3>
          <p>{{ project.description }}</p>

          <div class="project-technologies">
            <h4>Technologies Used</h4>
            <div class="tech-tags">
              <mat-chip-set>
                <mat-chip disableRipple *ngFor="let tech of project.technologies">
                  {{ tech }}
                </mat-chip>
              </mat-chip-set>
            </div>
          </div>

          <div class="project-links" *ngIf="project.githubUrl || project.liveUrl">
            <a
              *ngIf="project.githubUrl"
              [href]="project.githubUrl"
              target="_blank"
              class="project-link"
            >
              <i class="fab fa-github"></i>
              <span>View Code</span>
            </a>
            <a
              *ngIf="project.paperUrl"
              [href]="project.paperUrl"
              target="_blank"
              class="project-link"
            >
              <i class="fas fa-paperclip"></i>
              <span>Paper</span>
            </a>
            <a
              *ngIf="project.liveUrl"
              [href]="project.liveUrl"
              target="_blank"
              class="project-link"
            >
              <i class="fas fa-external-link-alt"></i>
              <span>Demo</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
