// Shared SCSS variables for component <style> blocks

// Fonts
$header-font: 'Montserrat', sans-serif;
$body-font: 'Roboto', sans-serif;
$body-font-size: 15px;

// Breakpoints
$breakpoint-mobile: 860px;
