// Custom color variables
//header
$dark-cyan: #006064; // Dark Cyan
$light-cyan: #80deea; // Light Cyan
$white: #ffffff; // White on hover

//background
$white: #111414; // Nearly black background

//body and header sections
$off-white: #eeeeee; // default header colour - currently same as text, but can be changed