<div class="app-container">
  <app-header></app-header>
  <main>
    <section id="about">
      <app-about></app-about>
    </section>
    <section id="projects">
      <app-projects></app-projects>
    </section>
    <section id="lego">
      <app-lego-technic></app-lego-technic>
    </section>
    <section id="socials">
      <app-socials></app-socials>
    </section>
  </main>
  <footer>
    <p>
      &copy; {{ currentYear }} Teodor Ilie. All rights reserved. View the
      <a href="https://github.com/TeoIlie/TeoIlie.github.io" target="_blank" rel="noopener"
        >source code on GitHub</a
      >
      🚀
    </p>
    <p>
      This site is hosted on Cloudflare Pages and uses their
      <a
        href="https://developers.cloudflare.com/web-analytics/about/"
        target="_blank"
        rel="noopener"
      >
        privacy-first analytics </a
      >. Data is collected anonymously to help improve performance and content.
      <br />
      Messages sent via the contact form are transmitted securely and never shared with third
      parties.
    </p>
  </footer>
</div>
