<div class="app-container">
  <app-header></app-header>
  <main>
    <section id="about">
      <app-about></app-about>
    </section>
    <section id="projects">
      <app-projects></app-projects>
    </section>
    <section id="socials">
      <app-socials></app-socials>
    </section>
  </main>
  <footer>
    <p>&copy; {{ currentYear }} Teodor Ilie. All rights reserved. Checkout this website's codebase <a href="https://github.com/TeoIlie/TeoIlie.github.io" target="_blank">here</a> 🚀</p>
  </footer>
</div>
